<div class="sidebar">
    <h5 class="px-3 mb-3">Admin Menu</h5>
    <a href="@Url.Action("Dashboard","Admin")">Dashboard</a>
    <a href="@Url.Action("Classes","Admin")">Classes Management</a>
    <a href="@Url.Action("Trainers","Admin")">Trainer Management</a>
    <a href="@Url.Action("Members","Admin")">Member Management</a>
    <a href="@Url.Action("Bookings","Admin")">Booking Management</a>
    <a href="@Url.Action("ManagePackages","Package")">Package Management</a>
    <a href="@Url.Action("TrainerRatings","Admin")">Rating Management</a>
    <a href="@Url.Action("Notifications","Admin")">Notifications</a>
</div>
