<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title - Gym Booking System</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</head>
<body>
    <!-- Header / Navbar -->
    @Html.Partial("_PublicNavbar")

    <div class="container-fluid">
        <div class="row">
            @if (Session["Role"] != null && Session["Role"].ToString() == "Member")
            {
                <div class="col-md-2 p-0">@Html.Partial("_MemberSidebar")</div>
                <div class="col-md-10 p-3">@RenderBody()</div>
            }
            else if (Session["Role"] != null && Session["Role"].ToString() == "Trainer")
            {
                <div class="col-md-2 p-0">@Html.Partial("_TrainerSidebar")</div>
                <div class="col-md-10 p-3">@RenderBody()</div>
            }
            else if (Session["Role"] != null && Session["Role"].ToString() == "Admin")
            {
                <div class="col-md-2 p-0">@Html.Partial("_AdminSidebar")</div>
                <div class="col-md-10 p-3">@RenderBody()</div>
            }
            else
            {
                <div class="col-md-12 p-3">@RenderBody()</div>
            }
        </div>

    </div>

    <!-- Footer -->
    <footer class="bg-dark text-white mt-4 p-3 text-center">
        &copy; 2025 Gym Booking System | Liên hệ: info@gymcenter.com
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
