
    <div class="sidebar">
        <h5 class="px-3 mb-3">Member Menu</h5>
        <a href="@Url.Action("MyBookings","Member")">My Bookings</a>
        <a href="@Url.Action("MySchedule","Member")">My Schedule</a>
        <a href="@Url.Action("Index","Package")">My Packages</a>
        <a href="@Url.Action("RateTrainer","Member")">Rate Trainer</a>
        <a href="@Url.Action("AttendanceHistory","Package")">Lịch sử tham gia</a>
        <a href="@Url.Action("Profile","Account")">Profile</a>
    </div>

